
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-info" role="alert">
                <strong>Video Title</strong>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="720" height="380"
                        src="https://www.youtube.com/embed/d--SRAjBYgw?modestbranding=1&rel=0&showinfo=0&fs=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
                <div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Added by">
                    <span>
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>rajamanick
                    </span>
                </div>
                <div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Views Count">
                    <span><i class="fa fa-eye" aria-hidden="true"></i>4155788</span>
                </div>
                <div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Tags">
                    <span><i class="fa fa-tags" aria-hidden="true"></i>sdfsadfs sfsdf sf sfdsf sdf</span>
                </div>
            </div>
            <div>
                <blockquote class="blockquote">
                    <p class="mb-0"><strong>Description</strong></p>
                    <small>
                        This line rendered as italicized textsdfgsdfgCVB SFDGSD GDSFGSFDGSDFGSDFG dffgsfdhgsfdhdsjsdjdajdshs s dsfhs fdhfdsh s h reshrsehfdhzfdhzfdhzdhz
                    </small>
                </blockquote>
            </div>

            <div class="alert alert-info" role="alert">
                <strong>Recent Videos</strong>
            </div>
            <div class="row ">
                @for (int i = 0; i < 8; i++)
                 {
                    <div class="col-md-4">
                        @Html.Partial("_VideoBox")
                    </div>
                }
            </div>
            <div class="alert alert-info" role="alert">
                <strong>Sports Videos</strong>
            </div>
            <div class="row ">
                @for (int i = 0; i < 8; i++)
                {
                    <div class="col-md-4">
                        @Html.Partial("_VideoBox")
                    </div>
                }
            </div>

        </div>

        <div class="col-md-4">
            <div class="alert alert-info" role="alert">
                <strong>Most Viewed Videos</strong>
            </div>
            @for (int i = 0; i < 3; i++)
            {
                @Html.Partial("_VideoBox")
            }
        </div>
    </div>
</div>
