@model List<Fluxy.ViewModels.Banners.BannerDetailsViewModel>

<div class="container">
    <h2>Category</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bannerModal">Add New Category</button><br /><br />
    <table id="bannerTable" class="table table-hover">
        <thead class="thead-inverse ">
            <tr>
                <th scope="row">
                    Name
                </th>
                <th scope="row">
                    Headline
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Headline)
                    </td>
                    <td>
                        <a href="#" onclick="return getbyID('banner/getbyId/'+'@item.Id')">Edit</a> |
                        <a href="#" onclick="Delele('banner/Delete/'+'@item.Id')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>

<div class="modal fade" id="bannerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="bannerModalForm">
                    <div class="form-group">
                        <input type="text" class="form-control" id="Id" name="Id" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label>Headline</label>
                        <input type="text" class="form-control" id="Headline" name="Headline" placeholder="Headline" />
                    </div>

                    <div class="form-group">
                        <label>Slogans</label>
                        <input type="text" class="form-control" id="Slogans" name="Slogans" placeholder="Slogans" />
                    </div>
                    <div class="form-group">
                        <label>ButtonText</label>
                        <input type="text" class="form-control" id="ButtonText" name="ButtonText" placeholder="ButtonText" />
                    </div>
                    <div class="form-group">
                        <label>Banner Image</label>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="file" class="form-control-file" id="bannerImageUpload" name="fileBase" id="dpSelecter" value="fileBase" aria-describedby="fileHelp">
                                <small id="fileHelp" class="form-text text-muted">Select image file</small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add('banner/Create');">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update('banner/Create');">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/Scripts/BannerScripts.js"></script>