@{
    ViewBag.Title = "Who We Are?";
    ViewBag.Description = "A free community for sharing youtube videos and content for all age group peoples| Who We Are?";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Who We Are?</h2>
            <hr />
            <p>A free community for sharing youtube videos and content for all age group peoples.</p>
            <blockquote class="blockquote">
                <p class="mb-0">
                    அவையறியார் சொல்லல்மேற் கொள்பவர் சொல்லின்
                    வகையறியார் வல்லதூஉம் இல்.
                </p>
                <p class="mb-0">
                    Unversed in councils, who essays to speak.
                    Knows not the way of suasive words,- and all is weak.
                </p>
                <footer class="blockquote-footer">திருவள்ளுவர் <cite title="Source Title"><a href="http://www.thirukkural.com/">திருக்குறள்</a></cite></footer>
            </blockquote>
            <p class="text-justify">
                Our goal is to provide an online community for sharing <a href="www.youtube.com" target="_blank">youtube</a> videos
                We seek to fill a need for a more entertainment focused and safe venue for all the users.
                It is a site to provide anytime, anywhere. As well,
                it is a site where users can post videos to view in order to entertain or learning a concept or skill.
            </p>
            <p class="text-justify">
                <a href="@Fluxy.Core.Constants.Configurations.DomainName">FluxyPictures</a> was the idea of Aditya and Iswarya,
                the software engineers. Most importantly, FluxyPictures community members are a major part of the evolution of the site.
                Members are encouraged to not only upload videos, but also to make constructive comments and use the likes and shares.
                FluxyPictures admin review posts and videos and will remove any inappropriate posts.
                With more friendly commentary and discussion through messaging and responses, the quality of this resource will only increase.
            </p>
            <p class="text-justify">
                The service is free for everyone. We always encourage our users to Contact Us with thoughts,
                suggestions, or other feedback. We do have a vision for FluxyPictures to truly be a better alternative to other video sharing sites.
                With the community's help,<em> it can become more interactive and engaging for all users.</em>
            </p>
        </div>
    </div>
</div>
