@{
    ViewBag.Title = "Contact Information";
    ViewBag.Description = "A free community for sharing youtube videos and content for all age group peoples| Contact Information";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Contact Information</h2>
            <hr />

            <address>
                Aditya Entertainment Company<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:fluxypictures@gmail.com">fluxypictures@gmail.com</a><br />
                <strong>Admin:</strong> <a href="mailto:rajamanickam.pr@gmail.com">rajamanickam.pr@gmail.com</a>
            </address>
        </div>
    </div>
</div>
