@{
    ViewBag.Title = "FAQ";
    ViewBag.Description = "A free community for sharing youtube videos and content for all age group peoples| FAQ";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>FAQ</h2>
            <hr />
            <div class="container">
                <div class="card card-faq">
                    <div class="card-header-faq">
                        <h5>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="card-block">
                            Account registration only required if you will be post your videos or confirm your age for seeing 18+ condents.
                            Otherwise as a anonymose user you can enjoying videos here.
                        </div>
                    </div>
                </div>
                <div class="card card-faq ">
                    <div class="card-header-faq">
                        <h5>
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Can I submit my own Videos?</a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="card-block">
                            Yes you can submit your very own videos here but video should be on youtube. Embed url can be shared in this site.
                            <strong>We will soon introduce cloud storage then we can do independent uploads. Stay tuned for update.</strong>
                        </div>
                    </div>
                </div>
                <div class="card card-faq ">
                    <div class="card-header-faq">
                        <h5>
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What is Embed code?</a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="card-block">
                            Embed url code is nothing you can get it from youtube itself right click youtube video and <strong>copy embed url</strong>
                            it comes with iframe but please paste url alone here.
                        </div>
                    </div>
                </div>

                <div class="card card-faq ">
                    <div class="card-header-faq">
                        <h5>
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Why should i use this site rather than youtube?</a>
                        </h5>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="card-block">
                           Because youtube has more number of videos here you can share your video it will go viral even faster than youtube.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .card-faq {
        margin-bottom: 5px;
    }

    .card-header-faq {
        padding: 5px 20px;
        font-size: 20px;
        margin-bottom: 0;
    }
</style>