@{
    ViewBag.Title = "FAQ";
    ViewBag.Description = "A free community for sharing youtube videos and content for all age group peoples| FAQ";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>FAQ</h2>
            <hr />
        </div>
    </div>
</div>
