@model Fluxy.ViewModels.Home.HomeViewModel
@using PagedList;
@using PagedList.Mvc;

@Html.Partial("_MainSlide")
<div class="container">
    @using (Ajax.BeginForm("Index", "Home", null, new AjaxOptions() { LoadingElementId = "", HttpMethod = "Get", UpdateTargetId = "RecentVideosGrid" }))
    {
        <div class="alert alert-info" role="alert">
            <strong>Recent Videos</strong>
        </div>
        <div id="RecentVideosGrid">
            @Html.Partial("_UnobtrusivePartial", Model.RecentVideos)
        </div>
    }

    @using (Ajax.BeginForm("Index", "Home", null, new AjaxOptions() { LoadingElementId = "", HttpMethod = "Get", UpdateTargetId = "PopularVideoGrid" }))
    {
        <div class="alert alert-info" role="alert">
            <strong>Popular Videos</strong>
        </div>
        <div class="PopularVideoGrid">
            @Html.Partial("_UnobtrusivePartial", Model.PopularVideos)
        </div>
    }
</div>
