@model Fluxy.ViewModels.Logging.LogViewModel
@{
    ViewBag.Title = "Error Handler";
    ViewBag.Description = "A free community for sharing youtube videos and content for all age group peoples| " + ViewBag.Title;
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center"><h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            We're sorry, An internal error occurred.</h1></div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                Our supporting staff has been notified of this error and will address the issue shortly.
                We apologize for the inconvenience.
                Please try clicking your browsers 'back' button or try reloading the home page.
                If you continue to receive this message, please try again in a little while.
                <strong>Thank you for your patience.</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>StackTrace</h5>
            @Html.DisplayFor(model => model.ExceptionStackTrace)
        </div>
    </div>
</div>
