<header>
    <link href="~/Content/Custom/floatingSocialBar.min.css" rel="stylesheet" />
</header>
<content>
    <div id="sticky-social">
        <div class="float-sm">
            <div class="fl-fl float-fb facebook-bar">
                <i class="fa fa-facebook fa-custom"></i>
                <a class="fl-a" href="" target="_blank">Like us!</a>
            </div>
            <div class="fl-fl float-tw twitter-bar">
                <i class="fa fa-twitter fa-custom"></i>
                <a class="fl-a" href="" target="_blank">Follow us!</a>
            </div>
            <div class="fl-fl float-gp youtube-bar">
                <i class="fa fa-youtube fa-custom"></i>
                <a class="fl-a" href="" target="_blank">Watch us!</a>
            </div>
            <div class="fl-fl float-rs rss-bar">
                <i class="fa fa-rss fa-custom"></i>
                <a class="fl-a" href="" target="_blank">Follow via RSS</a>
            </div>
        </div>
    </div>
</content>