<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="span12">
                    <div class="thumbnail center well well-small">
                        <h4>Newsletter</h4>
                        <form action="" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter email">
                                <small>Subscribe to our weekly Newsletter and stay tuned</small>
                            </div>
                            <div class="form-group text-xs-right">
                                <button type="submit" class="btn btn-secondary-outline">Subscribe Now!</button>
                            </div>
                        </form>
                    </div>
                </div>
                <p>Connect us</p>
                <ul class="nav text-center" >
                    <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-youtube fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Contact Us</h5>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group text-xs-right">
                        <button type="button" class="btn btn-secondary-outline">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   <hr />
    <p class="text-center">©@DateTime.UtcNow.Year ADITYA ENTERTAINMENT ALL RIGHTS RESERVED.</p>
</footer>