<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        @*<img src="~/Images/fp-logo.png"/>*@ Sample
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new
           {
               id = "registerLink",
               @class = "nav-link"
           })
            </li>

            <li class="nav-item">
                <a class="nav-link" href="alerts.html">Alerts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="videobox.html">Box</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
        <form class="form-inline mt-2 mt-md-0">
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success"><i class="fa fa-search"></i> Search</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>