<div class="card">
    <p class="text-center" data-toggle="tooltip" data-placement="top" title="Video Title">Titlesdfsdf sdffsafsfsfsfsfssfsfsdffsfsfsdfsdfsd fsdfsaewqrrwerwersdfsdfsdfsdfsafsdfsdfgsfrewfrewrwerwerwerwerwerwerfsdvxvx123</p>
    <a href="#"><img src='~/Images/g3.jpg' data-src="holder.js/140x140" alt='Thumbnail' class="img-thumbnail img-responsive" /></a>
    <div class="row">
        <div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Added by">
            <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>rajamanick
            </span>
        </div>
        <div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Views Count">
            <span><i class="fa fa-eye" aria-hidden="true"></i>4155788</span>
        </div>
        <div class="col-md-4" data-toggle="tooltip" data-placement="top" title="Tags">
            <span><i class="fa fa-tags" aria-hidden="true"></i>sdfsadfs sfsdf sf sfdsf sdf</span>
        </div>
    </div>
</div>
